#
# Sensor  drivers configuration
#
menuconfig SENSORS_SYMLINK_CORE
	bool "Sensor devices"
	help
	  Say Y here, and a list of sensors drivers will be displayed.
	  Everything that didn't fit into the other categories is here. This option
	  doesn't affect the kernel.

	  If unsure, say Y.

if SENSORS_SYMLINK_CORE

config SENSOR_DIR
	bool "sensors_dir"
	depends on I2C

config SENSORS_ACCELOMETER_BMA25X
	depends on I2C
	tristate "BOSCH acceleromter sensor driver"
	default n
	help
	  Say Y here if you use GP2A_PROXIMITY.
	  This option enables proximity sensors using
	  SHARP GP2A_ANALOG device driver.

	  Say N here if you do not use GP2A_ANALOG.

config SENSOR_USE_SYMLINK
	bool "sensors_symlink"
	depends on I2C

endif
